:root{
    --yellow:#f8e002;
    --lightGrey:#ebebeb;
    --envioGreen:#00a751;
    --black:#3d3d3d;
    --blue:#2e66ff;
    --lightblue:#6675ce;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
p{
    color: var(--black);
}
body{
    background-color: var(--lightGrey);
}
.container-principal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: .8fr auto;
    grid-template-areas: 
        "header header header"
        "main main main";
}       

header{
    display: grid;
    grid-template-columns: 1.2fr 4fr 2fr;
    grid-template-rows: repeat(2,1fr);
    grid-area: header;
    grid-gap: 0.625rem;
    background-color: var(--yellow);
    padding:0.625rem 5.625rem 1.25rem 5.625rem;
    padding-top: 0.625rem;
    
}
    .item-header1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
       
    .item-header2{
        display: inline-flex;
        justify-content: center;
    }

        .search{
            display: inline-flex;
            width: 80%;
            height: auto;
            border: #fff;
            border-radius: 0.1875rem;
        }
        .btn-search{
            padding: 0 0.625rem 0 0.625rem;
        }

    .item-header3{
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    .item-header4{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .item-header5{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 2.5rem;
    }
    .item-header5 > div{
        margin: 0 0.9375rem 0 0.9375rem;
    }
    .item-header5 div a{
            color: rgb(104, 104, 104);
            text-decoration: none;
        }
        .item-header5 div a:hover{
            color: var(--lightblue);
        }
    .item-header6{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .item-header6 div a{
        color:var(--black);
        text-decoration: none;
    }
    .item-header6 div a:hover{
        color: var(--lightblue);
    }  

main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto,1fr);
    grid-area: main;
    background-color: var(--lightGrey);
    height: 100vh;

}
    .container-carrousel-p{
        grid-column: 1 / 4;
        background-color: var(--lightGrey);
    }
        .container-carrousel-p img {
            width: 100%;
            height: 18.75rem;
        }
    .container-mediosDepago{
        display: flex;
        justify-content: center;
        grid-column: 1 / 4;
        background-color: var(--lightGrey);

    }
        .contenedor-pagos{
            
            display:flex;
            justify-content:space-around;
            align-items: center;
            background-color: #fff;
            width: 75rem;
            margin: 1.25rem 2.5rem 1.25rem 2.5rem;
            border-radius: 0.3125rem;
            box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0,0,0, .3);

        }
            .view-more{
                display: flex;
                border-left: 1px solid rgb(182, 178, 178);
                height: 100%;
                padding: 1.25rem;

            }
                .view-more img{
                    align-items: center;
                    justify-content: center;
                }

            .contenedor-pagos > div{
                display: flexbox;
                margin: 1.25rem 0px 1.25rem 0px;
            }
            .contenedor-pagos div a{
                text-decoration: none;
                color: #919df8;
            }
            .contenedor-pagos div a:hover{
                color: #4242b4;
            }

    .container-ultVisita,
    .container-Ofertas
    {
        grid-column: 1 / 4;
        background-color: var(--lightGrey);
    }

    /* --------- Carrousel ------------- */
        .container-ultVisita .contenedor-carousel,
        .container-Ofertas .contenedor-carousel
        {
            width: 100%;
            height: 20.625rem;
            padding: 1.25rem 0;
            overflow: hidden;
            scroll-behavior: smooth; /*suaviza el desplazamiento*/
        }
        
        .container-ultVisita .contenedor-carousel .carousel,
        .container-Ofertas .contenedor-carousel .carousel
        {
            display: flex;
            flex-wrap: nowrap;
        }
        
        .container-ultVisita .contenedor-carousel .carousel .articulo,
        .container-Ofertas .contenedor-carousel .carousel .articulo

        {
            min-width: 15%;
            transition: .3s ease all;
            box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0,0,0, .3);
            padding: 0 1.25rem 0 1.25rem;
            margin: 0 10px 0 10px;
            background-color: #fff;
        }
            .articulo .envio{
                color: var(--envioGreen);
            }
        
        .container-ultVisita .contenedor-carousel .carousel .articulo:hover,
        .container-Ofertas .contenedor-carousel .carousel .articulo:hover
        {
            transform: scale(1.05); 
            transform-origin: center; 
            background-color: white;
            transition: all 1s ease ; 
        }
       
        
        .container-ultVisita .contenedor-carousel .carousel .articulo img,
        .container-Ofertas .contenedor-carousel .carousel .articulo img
        {
            width: 100%;
            height: 100%
        }
        
/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.container-ultVisita,
.container-Ofertas
{
    margin: 1.25rem 2.5rem 1.25rem 2.5rem;
}

.contenedor-principal
{
	display: flex;
	align-items: center;
	position: relative;
}

.contenedor-principal .flecha-izquierda,
.contenedor-principal .flecha-derecha
{
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 1.25em;
	height: 20%;
	top: calc(50% - 20%);
	line-height: 1.25rem;
	width: 1.875rem;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.contenedor-principal .flecha-izquierda:hover,
.contenedor-principal .flecha-derecha:hover
{
	background: rgba(0,0,0, .9);
}

.contenedor-principal .flecha-izquierda
{
	left: 0;
}

.contenedor-principal .flecha-derecha
{
	right: 0;
}    

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #7f8185;
	font-size: 1.25rem;
}

.contenedor-titulo-controles .indicadores button,
.contenedor-titulo-controles .indicadores-ofertas button
{
	background: #fff;
	height: 0.1875rem;
	width: 0.625rem;
	cursor: pointer;
	border: none;
	margin-right: 0.125rem;
}
/* --------------MERCADO PUNTOS-------------------- */
.container-MercadoPuntos{
    display: grid;
    justify-content: center;
    grid-column: 1 / 4;
    background-color: var(--lightGrey);
    margin: 30px 0;
}
.MercadoPuntos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    width: 75rem;
    margin: 1.875rem 2.5rem 1.25rem 1.875rem;
    border-radius: 0.3125rem;

}
     .titulo-container{
         display: flex;
     }
     .titulo-container > a{
         margin:0 30px;
         text-decoration: none;
     }
     .titulo-container a:hover{
        color: #4242b4;
    }
    .container-MercadoPuntos img{
        width: 100%;
        height: 250px;
        padding: 0 20px;
    }
    
/* -----------------DESCUBRI----------------------- */
.container-descubri{
    display: flex;
    justify-content: space-evenly;
    grid-column: 1 / 4;
    background-color: var(--lightGrey);
    margin: 30px 0;
}

.container-descubri .item1{
    width: 500px;
    height: 250px;
    display: inline-flex;
    background-color:#fff ;
    border-radius: 10px;
    }
    .itemInt{
        padding: 20px;
    }
    .itemInt P{
        font-size: 0.70em;
    }
    .itemInt > button{
        width: 96px;
        height: 36px;
        border: none;
        border-radius: 5px;
        background-color: var(--blue);
    }
    .itemInt button a{
        text-decoration: none;
        color: #fff;
    }
    .item1 img{
        border-radius: 15px;
    }

    /* ----------------GRILLA------------------- */
.container-grilla{
    display: grid;
    grid-column: 1/ 4;
    justify-content: center;
}
.container-grilla h2{
    margin: 30px 0 30px 130px;
}
.grilla{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: var(--lightGrey);
    padding: 0 90px;
}
.grilla div{
    display: grid;
    align-content: center;
    
    width: 100% ;
    height: 170px;
    background-color: #fff;
    border: 1px solid var(--lightGrey);
    padding: 0 20px;
    margin: 0;
}
.grilla a{
    text-decoration: none;
}
.grilla div i{
    color: var(--blue);
}
.grilla p{
    letter-spacing: 0.0313rem;
    text-align: center;
}
.grilla div i,
.grilla div p{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.grilla div:hover{
    transform: scale(1.05); 
    transform-origin: center; 
    transition: all 1s ease ;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0,0,0, .3);

}